{% extends 'base_header_app.html' %}

{% block content %}
    <div class="container-fluid">
        <main class="tm-main"> 
            <div class="row tm-row">
                <h1>Create NEW post</h1>
                <form method="POST">
                    {% csrf_token %}
                    <ul>
                        <li>Title: {{ form.title }}</li> 
                        <li>Category: {{ form.category }}</li> 
                        <li>Description: <br>{{ form.description }}</li> 
                        <li>Content: <br>{{ form.content }}</li>
                    </ul> 
                    <button type="submit">Save</button>
                </form>
            </div>
{% endblock %}