{% extends "base.html" %}
{% load static %}

{% block title %}
<title>{{ request.resolver_match.app_name | title }}</title>
{% endblock %}

{% block header %}
<header class="tm-header" id="tm-header">
    <div class="tm-header-wrapper">
        {% if request.resolver_match.app_name == 'study' %}
            <div class="tm-site-header"><a href="{% url 'study:index' %}">
                <h1 class="text-center">{{ request.resolver_match.app_name | title }}</h1>
            </a></div>
            <nav class="tm-nav" id="tm-nav">            
                <ul>
                    <div class="tm-mb-35">
                        <a rel="nofollow" href="{% url 'home' %}" class="tm-nav-link">Blog Home</a>
                        <a rel="nofollow" href="{% url 'study:add' %}" class="tm-nav-link">New Post</a>
                    </div>
                    {% for category in latest_category_list%}
                    <li class="tm-nav-item"><a href="{% url 'study:list' category.slug %}" class="tm-nav-link">
                        <i class="fas fa-pen"></i>
                        {{ category.name }}
                    </a></li>
                    {% endfor %}
        {% elif request.resolver_match.app_name == 'investment' %}
            <div class="tm-site-header"><a href="{% url 'investment:index' %}">
                <h1 class="text-center">{{ request.resolver_match.app_name | title }}</h1>
            </a></div>
            <nav class="tm-nav" id="tm-nav">            
                <ul>
                    <div class="tm-mb-35">
                        <a rel="nofollow" href="{% url 'home' %}" class="tm-nav-link">Blog Home</a>
                        <a rel="nofollow" href="{% url 'investment:add' %}" class="tm-nav-link">New Post</a>
                    </div>
                    {% for category in latest_category_list%}
                    <li class="tm-nav-item"><a href="{% url 'investment:list' category.slug %}" class="tm-nav-link">
                        <i class="fas fa-pen"></i>
                        {{ category.name }}
                    </a></li>
                    {% endfor %}
                {% endif %}
            </ul>
        </nav>
    </div>
</header> 
{% endblock %}