{% extends "base_header_home.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <main class="tm-main">
        <div class="row tm-row">
            <div class="col-lg-8 tm-post-col">
                <div class="tm-post-full">                    
                    <div class="mb-4">
                        <h2 class="pt-2 tm-color-primary tm-post-title">Welcome to My Blog</h2>
                        <p class="tm-mb-40">Created in May, 2021</p>
                        <p>
                            Hello. This is Jeongmin Han who is working for BASIS Corporation as IT Engineer in Tokyo, Japan</p>
                        <p>
                            I've made this blog to get used to Django framework. <br>
                            Everything I study about IT and Investment will be posted on this blog. <br>
                            Feel free to contact me if you have any question or feedback. <br>
                            (Email Address was written on "About Me" page) <br>

                            Please enjoy my blog! Thanks!
                        </p>
                    </div>    
               </div>
            </div>
        </div>
{% endblock %}