{% extends "study/study_base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <main class="tm-main">
            <div class="row tm-row">
                {% if post.get_previous_by_create_dt %}
                    <a href="{% url 'study:detail' post.get_previous_by_create_dt.category_id.slug post.get_previous_by_create_dt.id %}">
                        <strong>&lt;&lt; Prev |</strong> [{{ post.get_previous_by_create_dt.category_id.name }}] {{ post.get_previous_by_create_dt.title }}</a>
                {% else %}
                    <a href=""><strong>&lt;&lt; Prev |</strong></a>
                {% endif %}
                {% if post.get_next_by_create_dt %}
                    <a href="{% url 'study:detail' post.get_next_by_create_dt.category_id.slug post.get_next_by_create_dt.id %}">
                        [{{ post.get_next_by_create_dt.category_id.name }}] {{ post.get_next_by_create_dt.title }} <strong>| Next &gt;&gt;</strong></a>
                {% else %}
                    <a href=""><strong>| Next &gt;&gt;</strong></a>
                {% endif %}
            </div>      
            <div class="row tm-row">
                <div class="col-12">
                    <hr class="tm-hr-primary">
                </div>
            </div>
            <div class="row tm-row">               
                <div class="mb-4">
                    <h2 class="pt-2 tm-color-primary tm-post-title"><strong>[{{ post.category_id.name }}]</strong> {{ post.title }}</h2>
                    <p class="tm-mb-40">Posted at {{ post.create_dt | date:'A g:i, jS M, Y'}} <br> Last edited at {{ post.modify_dt | date:'A g:i, jS M, Y'}}</p>
                    <article>{{ post.content | safe }}</article>
                    <br>
                    {% if user.is_authenticated %}
                        <button type="button" class="btn btn-outline-primary"><a href="{% url 'study:edit' post.id %}">EDIT</a></button>
                        <button type="button" class="btn btn-outline-primary"><a href="{% url 'study:delete' post.id %}">DELETE</a></button>
                    {% endif %}
                    <span class="d-block text-right tm-color-primary">{{ post.category_id.name }}</span>
                </div>
            </div>

        <div id="disqus_thread" style="width: 70%;"></div>
        <script>
            /**
            *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
            
            var disqus_config = function () {
            this.page.url = "{{ disqus_url }}";  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = "{{ disqus_id }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            this.page.title = "{{ disqus_title }}"
            };
            
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://mysite-rzjwilotv5.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>    
{% endblock %}
