{% extends "base.html" %}
{% load static %}

{% block header %}
<header class="tm-header" id="tm-header">
    <div class="tm-header-wrapper">
        <div class="tm-site-header">
            <h1 class="text-center">Study</h1>
        </div>
        <nav class="tm-nav" id="tm-nav">            
            <ul>
                <li class="tm-nav-item active"><a href="" class="tm-nav-link">
                    <i class="fas fa-home"></i>
                    investment1
                </a></li>
                <li class="tm-nav-item"><a href="" class="tm-nav-link">
                    <i class="fas fa-pen"></i>
                    investment2
                </a></li>
                <li class="tm-nav-item"><a href="" class="tm-nav-link">
                    <i class="fas fa-users"></i>
                    investment3
                </a></li>
                <li class="tm-nav-item"><a href="{% url 'home' %}" class="tm-nav-link">
                    <i class="far fa-comments"></i>
                    Back to Home
                </a></li>
            </ul>
        </nav>
    </div>
</header> 
{% endblock %}