{% extends "base.html" %}
{% load static %}

{% block header %}
<header class="tm-header" id="tm-header">
    <div class="tm-header-wrapper">
        <div class="tm-site-header"><a href="{% url 'home' %}">
            <h1 class="text-center">Investment</h1>
        </a></div>
        <nav class="tm-nav" id="tm-nav">            
            <ul>
                <li class="tm-nav-item"><a href="{% url 'investment:index' %}" class="tm-nav-link">
                    <i class="fas fa-pen"></i>
                    Overall
                </a></li>
                {% for category in latest_category_list%}
                <li class="tm-nav-item"><a href="{% url 'investment:list' category.id %}" class="tm-nav-link">
                    <i class="fas fa-pen"></i>
                    {{ category.name }}
                </a></li>
                {% endfor %}
            </ul>
        </nav>
    </div>
</header> 
{% endblock %}