{% extends "base.html" %}
{% load static %}

{% block title %}
<title>Investment</title>
{% endblock %}

{% block header %}
<header class="tm-header" id="tm-header">
    <div class="tm-header-wrapper">
        <div class="tm-site-header"><a href="{% url 'investment:index' %}">
            <h1 class="text-center">Investment</h1>
        </a></div>
        <nav class="tm-nav" id="tm-nav">            
            <ul>
                <div class="tm-mb-35">
                    <a rel="nofollow" href="{% url 'home' %}" class="tm-nav-link">Blog Home</a>
                    {% if user.is_authenticated %}
                    <a rel="nofollow" href="{% url 'investment:add' %}" class="tm-nav-link">New Post</a>
                    {% endif %}
                </div>
                {% for category in latest_category_list%}
                <li class="tm-nav-item"><a href="{% url 'investment:list' category.slug %}" class="tm-nav-link">
                    <i class="fas fa-pen"></i>
                    {% for key, value in number.items %}
                        {% if category.name == key %}
                            {{ category.name }}({{ value }})
                        {% endif %}
                    {% endfor %}
                </a></li>
                {% endfor %}
            </ul>
        </nav>
    </div>
</header> 
{% endblock %}